@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, 'sans-serif';
}

.main_content {
  width: 100%;
  height: 100vh;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;

  .container {
    width: 894px;
    height: 521px;
    background: #fff;
    border-radius: 15px;
    padding: 20px;

    // h2
    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 37px;
      text-align: center;
      color: #000;
      margin-top: 50px;

      .mil {
        color: #f98012;
      }
    }

    .p_text {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #000000;
    }
  }

  // FORM
  .form {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    .form_select {
      width: 100px;
      height: 65px;
      padding-left: 28px;
      padding-right: 0;
      margin: -2px;
      font-size: 16px;
      border: 1px solid gray;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      background: transparent;
    }

    .search_icon {
      position: relative;
      left: 40px;
      font-size: 16px;
      margin-left: -18px;
    }

    .form_input {
      width: 400px;
      height: 65px;
      padding: 5px 50px;
      font-size: 16px;
      border: 1px solid gray;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      background: transparent;
    }
  }

  h4 {
    text-align: center;
    margin-top: 25px;
  }

  .search_group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;

    .componets {
      padding: 10px 15px;
      margin: 0 5px;
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      line-height: 18px;
      background: #f2f2f2;
    }

    .cards {
      padding: 10px 15px;
      margin: 0 5px;
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      line-height: 18px;
      background: #f2f2f2;
    }

    .sign_up {
      padding: 10px 15px;
      margin: 0 5px;
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      line-height: 18px;
      background: #f2f2f2;
    }

    .pricing_card {
      padding: 10px 15px;
      margin: 0 5px;
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      line-height: 18px;
      background: #f2f2f2;
    }
  }

  .links_rs {
    float: right;
    margin-top: 70px;

    span,
    a:nth-child(2) > img:nth-child(1) {
      margin-right: 8px;
      font-family: 'Pacifico', cursive;
      font-size: 13px;
      font-style: italic;
      color: gray;
    }
  }
}
