nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  color: #152766;
  margin-top: 0.7rem;
  margin-left: 16rem;

  svg {
    margin-right: 0.3rem;
  }

  .timer {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  form {
    .MdSearch {
      position: relative;
      left: 2rem;
      top: 0.3rem;
      color: #505d8c;
    }

    input {
      border: none;
      border-bottom: 1px solid #505d8c;
      width: 15rem;
      color: #505d8c;
      outline: none;
      padding: 0.4rem 2rem;
      font-size: 1rem;
    }
  }

  .nav_rigth {
    display: flex;
    align-items: center;
    cursor: pointer;

    .new_button {
      background: #2f80ed;
      color: #fff;
      padding: 0.4rem 0.7rem;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      .AiFillCaretDown {
        position: relative;
        top: 0.2rem;
        left: 0.1rem;
      }
    }

    .active {
      font-size: xx-large;
      position: relative;
      top: -10px;
      left: -17px;
      color: red;
    }

    .new_button,
    .notification,
    .user_name {
      margin-right: 0.9rem;
    }
  }
}

@media screen and (max-width: 890px) {
  input,
  form:nth-child(2) {
    // width: 7rem !important;
    display: none;
  }
}
